

    <div class="jumbotron">
        <h1 class="display-4">About Todos </h1>
        <p class="lead"> hi, welcome i'm happy to see you here , i am Ahmad you contact me on contacts provided below for content or information.</p>
        <hr class="my-4">
  <p>You are warm welcome to ask any kind of question first you have to mention the topic title and then the description of your question</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Contact Info</h1>
    <p>Here its just a placeholder not more than it </p>
    <ul>
        <li>Mobile number:92********60</li>
        <li>Email:ahmadsaeed*****@gamil.com</li>
    </ul>
  </div>
  <div class="container" style="padding: 5px;">
    <input type="text" #input>
    <button (click)="onSubmit(input)">Submit</button>
    <div  class="container" style="padding: 5px;">

        <app-demo [value]="enteredtxt" ></app-demo>
    </div>
  </div>
  